# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

lcov.info
coverage/

# node
node_modules/

# hardhat
artifacts/
cache_hardhat/
typechain-types/

# zerodev orchestra
log/
.envrc
